.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../images/Close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__title {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 24px; /* TODO: check is it really 16? */
}

.modal__submit-button {
  margin-top: 34px;
  width: 124px;
  height: 36px;
  color: #fff;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  border-radius: 4px;
  background-color: #000;
  border: 1px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__submit-button:hover {
  opacity: 0.6;
}

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.modal__submit-button-additional {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  transition: color 0.5s ease-in-out;
}

.modal__submit-button-additional:hover {
  cursor: pointer;
  color: #000;
}

.modal__label {
  display: block;
  flex-direction: column;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  /* line-height: 1.1; */
  /* gap: 15px; */
}

.modal__input {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1.1; */
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-top: 8px;
  padding: 0 0 4px;
  display: block;
}

.modal__radio-button {
  height: 16px;
  width: 16px;
  color: rgba(0, 0, 0, 0.5);
}
