.modal__content {
  position: relative;
  background-color: white;
  max-width: 498px;
  max-height: 610px;
  width: 100%;
  border-radius: 16px;
}

.modal__item-close-button {
  background: url(../images/close-button-white.svg) no-repeat center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  cursor: pointer;
}

.modal__item-img {
  max-width: 498px;
  max-height: 610px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__item-description {
  background-color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
}

.modal__item-name {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 12px;
}

.modal__item-weather {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
